.scoreboard {
  width: 271px;
  height: 90px;
  color: lawngreen;
  background-color: black;
  font-family: Arial;
}

.ploegen {
}

.stand {
}

.teamBrigandze, .teamVisitors {
  font-size: 20px;
  display: inline-block;
  width: 50%;
  text-align: center;
  // background: lawngreen;
  // color:black;
}

.teamBrigandze {
}

.teamVisitors {
}

.score {
  line-height: 0.9em;
  text-align: center;
}
